a.bbb {
    display:inline-block;
    border-radius:5px;
    padding:20px;
    border:1px solid #1862DB;
    background-color:#C3D7F7;
    text-decoration:none;
}

a.bbb:hover {
    background-color:#D2E1F7;
}

input.bbb-shortcode-selector {
  border-radius: 2px;
  width: 100%;
  margin-top: 20px;
}

form.bbb-shortcode {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding:20px 30px 20px 30px;
  width: 300px;
}

select.bbb-shortcode {
  style="color: #777;
  background: #fff;
  border-radius: 2px;
  width: 100%;"
}
