/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bbb-room-selection {
    display: inline-block;
    background: white;
    min-width: 10em;
    margin-bottom: 2em;
}

.bbb-error {
    color: red;
}
 
.bbb-table-container, .bbb-table-container > div {
    box-sizing: border-box;
 }

.bbb-flex-table {
    display: flex;
    flex-flow: row wrap;
    border-left: solid 1px #d9d9d9;
    transition: 0.5s;
}

.bbb-flex-table:first-of-type {
    border-top: solid 1px #1565C0;
    border-left: solid 1px #1565C0;
}

.bbb-flex-table:first-of-type .flex-row,
.bbb-flex-table:first-of-type a .flex-row {
    background: #1976D2;
    color: white;
    border-color: #1565C0;
}

.bbb-flex-table:nth-child(even) .flex-row {
    background: #f4f2f1;
}

.bbb-flex-table-3 {
    grid-template-columns: repeat(auto-fill, 33%);
}

.bbb-flex-table-4 {
    grid-template-columns: repeat(auto-fill, 25%);
}

.bbb-flex-table.header {
    background: #1976D2;
    color: white;
    border-color: #1565C0;
}

.flex-row-5 {
    width: calc(100%/5);
}

.flex-row-6 {
    width: calc(100%/6);
}

.flex-row {
    text-align: center;
    padding: 0.5em 0.5em;
    border-right: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
}

@media all and (max-width: 1200px) {
    
    .bbb-flex-table > .flex-row {
        border-bottom: solid 1px #d9d9d9;
    }
    
    .header > .flex-row {
        border-bottom: solid 1px;
    }
    
    .flex-row {
      width: 100%;
    }

    .flex-row:first {
        width: 100%;
        border-bottom: solid 1px #d9d9d9;
    }
}

.bbb-icon {
    cursor: pointer;
    color: #1976D2;
}

.bbb-header-icon {
    cursor: pointer;
    color: white;
}

.fa-disabled {
    cursor: not-allowed;
    opacity: .3;
}

.bbb-inline-block {
    display: inline-block;
}

.bbb-recording-link {
    background-color: #007acc;
    color: white;
    max-width: 7em;
    padding: 0.2em 0.3em;
    margin: 0.2em 0.1em;
}

.bbb-button {
    background-color: #007acc !important;
    color: white !important;
}

.bbb-recording-link:hover,
.bbb-recording-link:focus,
.bbb-recording-link:active,
.bbb-button:hover,
.bbb-button:focus,
.bbb-button:active {
    background-color: #0a9ed4 !important;
    border-color: #006799 !important;
}

.bbb-recording-link > a {
    color: white;
    box-shadow: none !important;
}

.bbb-recording-link > a:hover,
.bbb-recording-link > a:focus,
.bbb-recording-link > a:active,
.bbb-recording-link > a:visited {
    color: white;
}

.bbb-column-header-highlight {
    background: #52a8fd !important;
}

.bbb-hidden {
    visibility:hidden;
}

.single-bbb-room .bbb-room .entry-content {
    float: none !important;
    width: auto !important;
}

.bbb-expandable-header {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: auto;
    margin-top: auto;
}

.bbb-recordings-display {
    cursor: pointer;
}

.bbb-recording-display-block {
    margin: 0.5em 0;
    border-top: groove;
    border-bottom: groove;
}

.bbb-join-room-label {
    display: inline-block;
    min-width: 20%;
}

.bbb-join-room-input {
    display: inline-block;
    min-width: 70%;
}

.bbb-join-form-block {
    margin-bottom: 0.2em;
}