/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.bbb-settings-card {
	min-width: 22em;
	margin: 10px;
	padding: 10px;
}

.bbb-settings-card h1 {
	font-weight: 400;
}

.bbb-settings-card p {
	font-size: 1.1em;
}

.bbb-row {
	display: flex;
	flex-wrap: wrap;
}

.bbb-col-left {
	flex: 20%;
	max-width: 20%;
	padding: 0 4px;
}

.bbb-col-right {
	flex: 70%;
	max-width: 70%;
	padding: 0 4px;
}

.bbb-important-label {
	font-weight: 900;
	color: black;
}

.bbb-width-30 {
	min-width: 30%;
}

.bbb-width-60 {
	min-width: 60%;
}

.bbb-inline-block {
	display: inline-block;
}

.bbb-top-bottom-margin {
	margin-top: 2em;
	margin-bottom: 2em;
}
